{% extends 'CleverSwarmFrontendBundle::layout.html.twig' %}

{% block h1 %}Articles{% endblock %}

{% block content %}

	<div class="row">

	    <!-- Blog Entries Column -->
	    <div class="col-md-8">

	        {% for post in posts %}
		        <h2>
		            <a href="{{path('cleverswarm_frontend_post_show', { id: post.id} )}}">{{post.title}}</a>
		        </h2>
		        <p class="lead">
		            par {{post.user}}
		        </p>
		        <p><i class="fa fa-clock-o"></i> Posté le {{post.posted|date('d-m-Y à H:m')}}</p>
		        <hr>
		        <a href="{{path('cleverswarm_frontend_post_show', { id: post.id} )}}">
		            <img class="img-responsive img-hover" src="http://placehold.it/900x300" alt="">
		        </a>
		        <hr>
		        <p>{{post.content|slice(0,100)}} ...</p>
		        <a class="btn btn-primary" href="{{path('cleverswarm_frontend_post_show', { id: post.id} )}}">Plus <i class="fa fa-angle-right"></i></a>

		        <hr>
	        {% endfor %}

	        {#<!-- Pager -->
	        <ul class="pager">
	            <li class="previous">
	                <a href="#">&larr; Older</a>
	            </li>
	            <li class="next">
	                <a href="#">Newer &rarr;</a>
	            </li>
	        </ul>#}

	    </div>

	    <!-- Blog Sidebar Widgets Column -->
        {{ render(controller("CleverSwarmFrontendBundle:Post:sidebar")) }}

	</div>
	<!-- /.row -->

{% endblock %}
